.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
    padding: 20px;
    width: 50%;
    max-height: 300px;
    min-width: 150px;
    max-width: 300px;
    background-color: white;
    z-index: 1;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
    object-fit: contain;
    overflow: auto;
  }
  
  .product__rating {
    display: flex;
  }
  
  .product > img {
    max-height: 50px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .product > button {
    background: rgb(0, 225, 255);
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 15px;
    color: #000;
    width: 15vw;
    padding: 7px 20px;
    font-size: 1.2vw;
    font-weight: 500;
    outline: none;
  }
  
  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
    height: 100px;
    margin-bottom: 15px;
  }
  
  .product__info > h2 {
    font-size: 2vw;
  }
  
  .product__info > h3 {
    font-size: 2vw;
  }
  
  @media (max-width: 700px) {
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px 20px;
      padding: 10px;
      width: 50%;
      max-height: 200px;
      min-width: 150px;
      max-width: 300px;
      background-color: white;
      z-index: 1;
      box-shadow: 10px 10px 10px #ccc;
      border-radius: 10px;
      object-fit: contain;
      overflow: auto;
    }
  
    .product > button {
      background: rgb(0, 225, 255);
      border: 1px solid white;
      border-radius: 30px;
      margin-top: 15px;
      color: #000;
      width: 90%;
      padding: 7px 20px;
      font-size: 0.6rem;
      font-weight: 500;
      outline: none;
    }
  
    .product__info > h2 {
      font-size: 3vw;
    }
  
    .product__info > h3 {
      font-size: 3vw;
    }
    .product__info > p {
      font-size: 2vw;
    }
  
    .product__info {
      height: 60px;
      margin-bottom: 5px;
    }
  }
  